* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
}

.card-container{
    grid-area: 1/2/2/3;
    display: grid;
    grid-auto-flow: column;
}

.card{
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.card-title{
    font-weight: bold;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input[type="text"], input[type="number"]{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

.form-card{
    background-color: rgb(241, 241, 241);
}